{{ $uptimes := index . "uptime" }}

<svg class="timeline" preserveAspectRatio="none" height="34" viewBox="0 0 448 34">
{{- range $i, $sequence := (seq 90) }}
  {{- $date := now.AddDate 0 0 (int (add -89 $i)) }}
  {{- $date = printf "%sT04:00:00.000Z" ($date.Format "2006-01-02") }}
  {{- $uptimeQuery := where $uptimes "time" $date }} 
  {{- if and $uptimeQuery (eq (len $uptimeQuery) 1) }}
    {{ $uptime := index $uptimeQuery 0 }}
    <rect
      height="34"
      width="3"
      x="{{ mul (add $i 1) 5 }}"
      y="0"
      {{- if (eq $uptime.value 1.0) }}
      fill="#28a745"
      {{- else if (eq $uptime.value 0.0) }}
      fill="#d73a49"
      {{- else }}
      fill="#f66a0a"
      {{- end }}
      class="timeline-day"
      data-value="{{ print $uptime.value }}"
      data-date="{{ print $date }}"
      data-html="true"
    ></rect>
  {{- else }}
    <rect
      height="34"
      width="3"
      x="{{ mul (add $i 1) 5 }}"
      y="0"
      fill="#8da2b5"
      class="timeline-day"
      data-date="{{ print $date }}"
      data-html="true"
    ></rect>
  {{- end }}
{{- end }}
</svg>

<div class="timeline-footer">
  <div class="timeline-footer-text">90 days ago</div>
  <div class="line"></div>
  <div class="timeline-footer-text">{{ div (math.Ceil (mul .avgUptime 1000)) 10 }}% uptime</div>
  <div class="line"></div>
  <div class="timeline-footer-text">Today</div>
</div>
